node_modules
.next

.DS_Store
public/.DS_Store
src/.DS_Store
public/.DS_Store
public/.DS_Store
src/components/.DS_Store
src/.DS_Store
public/.DS_Store
public/.DS_Store
src/.DS_Store
public/.DS_Store
public/.DS_Store
src/.DS_Store
public/.DS_Store
public/images/Photo_1548417962244.png
src/pages/api/people/Book2.xlsx
scripts/postbuild.js
nextGenImageCreation-master/Scripts/MoveImagesToS3.sh
nextGenImageCreation-master/Images/duckJPG.jpg
nextGenImageCreation-master/Images/duckPNG.png
src/pages/test/image-app/app.css
src/pages/test/image-app/components/view-source.js
src/pages/test/image-app/components/view-source.module.css
src/pages/test/image-app/next.config.js
src/pages/test/image-app/package.json
src/pages/test/image-app/pages/_app.js
src/pages/test/image-app/pages/background.js
src/pages/test/image-app/pages/index.js
src/pages/test/image-app/pages/layout-fill.js
src/pages/test/image-app/pages/layout-fixed.js
src/pages/test/image-app/pages/layout-intrinsic.js
src/pages/test/image-app/pages/layout-responsive.js
src/pages/test/image-app/public/glass_droplets.jpeg
src/pages/test/image-app/public/hero-bg.jpg
src/pages/test/image-app/public/mountains.jpg
src/pages/test/image-app/public/sunrise.jpf
src/pages/test/image-app/public/sunrise.jpg
src/pages/test/image-app/public/vercel.png
src/pages/test/image-app/README.md
src/pages/test/image-app/styles.module.css
src/pages/test/image-app/yarn.lock
