.content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.749);
    box-shadow: 2px 2px 8px rgb(60, 60, 60);
    padding: 10px;
    margin-bottom: 40vh;
}

.content img {
    width: 100%!important;
}

.iframe {
    display: block;
    margin: 0 auto;
}