.blackbox {
  position: center;
  display: grid-inline;
  background: rgb(136, 131, 131);
  box-shadow: 2px 1px 20px rgb(0, 0, 0);
  padding: 10px 10px 10px 10px;
  top: 85px;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  width: 100%;
  height: 100vh;
  
}

.body {
  background-color: transparent;
}

.content {
  display: flex;
  position: relative !important;
  width: auto !important;
  height: auto !important;
  overflow: screen;
}
.mapImage {
  position: relative !important;

  width: 100% !important;
  height: auto !important;
}
.bottomliner {
  position: absolute !important;
  left: 20px !important;
  
  
}

