//body {
  //  background:blue;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    //height: 100vh;
    //width: 100%;
    //background-image: url(../public/pugetcr.png);
    //background-size: cover;


//}
#bgWrap{
    background:blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    overflow: hidden;
    z-index: -100;
}
.fullscreenbg {
    
    background-size: cover;
    position: fixed;
    top: 0;
    left:0;
    overflow: hidden;
    height: 100vh;
    z-index: -100;
}

.h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px #000;

}

p.subtitle {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px #000;
}

#contactContainer{
    color: white;
    width: 80vw;
    height: 70vh;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.2);
    -webkit-box-shadow: 3px 1px 21px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 1px 21px 8px rgba(0,0,0,0.75);
    box-shadow: 3px 1px 21px 8px rgba(0,0,0,0.75);
    .contactInfo{
        background-color: #3f51b5;
        flex: 0 1 40%;
        border-radius: 15px;
        padding: 40px;
        color: white;
        display: flex;
        flex-direction: column;
        h4{
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 0;

        }
    }
    form{
        padding: 10px;
        padding-left: 10px;
        width: 100%;
        .col{
            display: flex;
            width: 100%;
            flex: 0 1 100%;
        }
        .formGroup{
            display: flex; 
            justify-content: flex-start;
            align-items: flex-end;           
            flex-direction: column;
            flex: 0 1 100%;
            padding-right: 40px;
            .label{
                color: white;
                font-size: .9rem;
                margin-bottom: 1rem;
            }
            input[type="text"], input[type="email"], input[type="tel"], textarea {
                //background: rgba(255,255,255, 0.2);
                cursor: pointer;
                outline: none;
                padding: 5px;
                font-size: 0.8rem;
                font-weight: 300;
                color: white;
                //border-bottom: 2px solid rgba(255,255,255,0.4);
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 2px solid rgb(255,255,255,.2);
                margin-bottom: 2rem;
                &:focus{
                    border: none;
                    outline: none;
                    border-bottom: 2px solid teal;

                }
            }
            &:nth-child(2){
                padding-right: 0;
            }
            &.solo{
                padding:0;
            }
            &.right{
                align-items: flex-end;
            
            .button{
                width: 200px;
                height: 60px;
                font-size: 1.2rem;
                cursor: pointer;
                background: white;
                border:none;
                text-transform: uppercase;
                border-radius: 5px;
            }

        }
    }
}
}