.blackbox {
  position: center;
  display: grid-inline;
  background: rgb(136, 131, 131);
  box-shadow: 2px 1px 20px rgb(0, 0, 0);
  padding: 10px 10px 10px 10px;
  top: 85px;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  width: 100%;
  height: 100vh;
  
}


.h2Title {
  margin-left: 1em;
  font-weight: 700;
  text-decoration: underline;
}

.content {
  position: flex;
  display: inline-block;
  background-color: rgba(109, 105, 105, 0.749);
  box-shadow: 2px 2px 8px rgb(60, 60, 60);
  text-shadow: 5px 2px 4px black;
  color: white;
  margin: 0 auto;
  
  height: 100vh;
}

.body {
  background-color: transparent;
  width:100vw;
}

/* .content {
  display:inline-flex;
  position: relative !important;
  width: auto !important;
  height: auto !important;
  overflow: screen;
} */

.info {
  
  margin-left: 30px;
  
}

.mapImage {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 50px;
}

@media only screen and (min-width: 768px) {
.mapImage {
  position: relative;
  display: block;
 
  width: 70%;
  height: auto;
  transform: rotate(70deg);
  margin: auto;
  margin-top: -300px;
}}