.divBlock {
    display: flex;
    flex-wrap: wrap;
}

.body {
    min-height: 100vh;
}

.Image5 {
    border-radius: 10% 50%;
    box-shadow: 1px 1px 3px 0 #000000;
    margin: 10px;
}

.content {
    border-radius: 10% 10% 5% 5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 8px rgb(60, 60, 60);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px;
}

.content a {
    color: #0202de;
}

.contentNameplate {
    background-color: white;
    box-shadow: 2px 2px 8px rgb(60, 60, 60);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px;
}

.content p {
    padding-left: 20px;
    background-color: white;
}

.clink {
    font-size: smaller;
    font: #020247!important;
}
