html,
body {
  background-color: lightslategray;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

Link {
  color: white!important;
  text-decoration: none;
}

.md-form label {
  margin-left: 3.5rem!important;
  margin-bottom: 3.5rem!important;
  padding-bottom: 10px!important;
  color: black!important;
}
/* * {
  box-sizing: border-box;
} */

.navbar {
  z-index: 100!important;
}

.bgText {
  z-index: 10!important;
}
card-body {
  background-color: gray!important;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .navbar {
      z-index: 100!important;
  }

  .bgText {
    z-index: 10!important;
  }

  a.nav-link {
    padding-top: 30px;
  }

  
}