.dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    margin-top: -300px;
    margin-right: 20px;
    margin-top: -450px;
    margin-bottom: 100px;

}

.indDates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 100px;
    

}

.indDates a {
    font-weight: 900;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.clms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#__next {
    min-height: unset;
}

.h1 {
    color: white;
    display: flex;
    justify-content: center;
}
.content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.749);
    box-shadow: 2px 2px 8px rgb(60, 60, 60);
    padding: 10px;
    margin-bottom: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img {
    width: 100%!important;
}

.indDates {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 300px;
    height: 5em;
    color: black;
    margin: 5px;
    font-weight: 900;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.button a {
    color:rgb(0, 0, 0);
    font-weight: 900;
}

