.dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    

}

.indDates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 100px;
    

}

.indDates a {
    font-weight: 900;
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: nowrap;
}

.clms {
    display: flex;
    flex-direction: column;
}

.h1 {
    color: white;
    display: flex;
    justify-content: center;
}
.content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.749);
    box-shadow: 2px 2px 8px rgb(60, 60, 60);
    padding: 10px;
    margin-bottom: 40vh;
}

.indDates button {
    width: 350px;
    height: 75px;
}

.content img {
    width: 100%!important;
}

.indDates {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 100px;
    
    color: black;
    margin: 5px;
    font-weight: 900;
}



.button a {
    color:rgb(0, 0, 0);
    font-weight: 900;
    text-align: center;
}

.bgcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}