#lnk {
    color: white;
}
.a {
    color: red;
}
.mdbkard {
    padding: 0;
    margin-bottom: 150px;
    background-color: rgba(255, 255, 255, 0.7)
}

.card {
    margin-bottom: 150px;
    padding: 0;
}

.md-form>label {
    color: black !important;
}