  background-color: #fffa;
  transform: translateX(var(--tx, 0)) rotateY(var(--ry, 0deg));
  background-image: var(--bi);
  background-size: 1600% 100%;
  background-position-x: var(--bpx, 0);

  
  @for $i from 0 to 32 {
    &:nth-child(#{$i + 1}) {
      --tx: #{($i - 16) * 0.7em};
      --bpx: #{floor($i / 2) * -1em};
    }
  }
  
  &:nth-child(odd) {
    --ry: -45deg;
    --bi: url(https://obcg.org/Images/WebPFiles/hero-bg.webp);
  }
  
  &:nth-child(even) {
    --ry: 45deg;
    --bi: url(https://obcg.org/Images/WebPFiles/psound.webp);
  }
}
