.cardBody {
    background-color: #3f51b5!important;
    color: #fff!important;
    cursor: pointer!important;
}

.headline {
    text-align: center!important;
    margin-bottom: 50px!important;
    
}

.cardTitle {
    font-size: 1.5rem!important;
    font-weight: 500!important;
    margin-bottom: 0!important;
    text-align: center!important;
}