/* .p{
  color: white;
} */

/* .title {
  padding: 150px 0;
}

.a {
  color: blue;
}

.table,
.th,
.td {
  position: relative;
  border: 2px solid black;
  margin-top: 100px;
  font-weight: 900;
  background-color: blue;
  width: 100%;
  height: fit-content;
  overflow: scroll;
}

.th1 {
  background-color: blue;
  padding: auto;
  font-weight: 900;
}

.th2 {
  background-color: blue;
  padding: 0;
  font-weight: 900;
  width: fit-content;
}

.td1 {
  background-color: #3f51b5;
  padding: auto;

  font-weight: 900;
}

.td2 {
  padding-left: 15px;
  color: black;
  font-weight: 900;
}

.h5head {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-style: inset;
  border-color: rgb(92, 92, 92);
  width: -webkit-fit-content;
  margin-right: auto;
  padding-right: 10px;
  padding-top: auto;
}

.th a {
  color: rgb(116, 116, 255);
  font-weight: 900;
  width: -webkit-fit-content;
  padding-left: 10px;
}

.td6 {
  display: hidden;
  background: transparent;
}

.thInput {
  margin: 5px 5px 5px 5px;
  color: white !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.p {
  padding-left: 2px;
  padding-right: 2px;
  line-height: 5px;
}

.td3 {
  color: black;
  background-color: rgba(63, 81, 181, 0.5);
  width: 150px;
  height: auto;
  padding: 0px;
  border: 1px solid black;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
}
.th,
.td {
  padding: auto;
  width: fit-content;
  color: black;
  font-weight: 900;
  width: -webkit-fit-content;
}

#tdmin {
  font-size: x-large;
  text-align: center;
  width: -webkit-fit-content;
}

#pagebg {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -20;
}

.div4 {
  color: black;
  background-color: red;
  padding: 10px;
}
.pt {
  color: black;
  background-color: transparent;
  margin-left: 20px;
  padding-left: 25px;
}

.inputTot {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.h1 {
  position: flex;
  display: inline-flex;
  margin-top: 150px;
  height: 100%;
  width: 100%;
}

.td5 {
  color: black;
  background-color: rgba(63, 81, 181, 0.5);
  width: 150px;
  height: auto;
  padding: 0px;
  border: 1px solid black;
  font-weight: 900;
  font-size: 16px;
}
.div5 {
  margin-top: 5px;
} */

.tbody {
    margin-bottom: 100px;
  }
  
  .newFee {
    font-weight: 700;
  }
  
  .table2 {
    margin-top: 40px;
  }
  
  .yearTotal {
    vertical-align: middle!important;
    display: contents;
  }
  