.a {
  color: blue;
}

.table {
    position: flex;
    margin-bottom: 70px;
    color: white;
    width: fit-content;
    height: fit-content;
    font-weight: 900;
    font-size: 16px;
}

.trbg {
    background-color: #3f51b5;
    color: white;
    font-weight: 900;
    font-size: 16px;
}

.table, .th, .td {
    
    border: 1px solid black;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.5);
    
  }

.th1 {
  background-color: #3f51b5;
  padding: auto;
  font-weight: 900;
}

.th2 {
  background-color: #3f51b5;
  padding: auto;
  padding-left: 10px;
  font-weight: 900;
}

.td1 {
  background-color: #3f51b5;
  padding: auto;
  font-weight: 900;
}

.td2 {
  padding-left: 15px;
  color: black;
  font-weight: 900;
}

.h5head {
  background-color:rgba(255, 255, 255, 0.5);
  color:black;
  border-style:inset;
  border-color:rgb(92, 92, 92);
  width: -webkit-fit-content;
  margin-right: auto;
  padding-right: 10px;
  padding-top: auto;
}

.th a {
  color: rgb(116, 116, 255);
  font-weight: 900;
  width: -webkit-fit-content;
  padding-left: 10px;
}


.td6 {
  display: hidden;
  background: transparent;
}


.thInput {
  margin:auto;
  color: white !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.p {
  padding-left: 10px;
  padding-right: 10px;
}

.td3 {
  color: black;
  background-color:rgba(63, 81, 181, 0.5);
  width: -webkit-fit-content;
  height: 100%;
  padding: auto;
  border: 1px solid black;
  font-weight: 900;
}
.th, .td {
    padding: auto;
    color: black;
    font-weight: 900;
    width: -webkit-fit-content;
}

#tdmin {
    font-size: x-large;
    text-align: center;
    width: -webkit-fit-content;
}

#pagebg {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -20;
}
