/* CSS for responsive iframe */
/* ========================= */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
  width: 512px;
  height: 100%; 
  -webkit-overflow-scrolling: touch; 
    overflow: auto; 
}

/* inner wrapper: make responsive */
.responsiveWrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */

    -webkit-overflow-scrolling: touch; 
    overflow: auto; 
  
}
 
.ExternalFiles {

  -webkit-overflow-scrolling: touch; 
  overflow: auto; 
}

.responsiveWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  border: none;
}

.mainName {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  color: #4f4f4f;
  text-align: center;
  margin-top: 75px;
  padding: 0;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsiveWrapperWxh572x612 {
  padding-bottom: 107%;
}

/* general styles */
/* ============== */
.setBorder {
  border: 5px inset #4f4f4f;
}
.boxShadow { 
  box-shadow: 4px 4px 14px #4f4f4f;
}
.set-padding {
  padding: 40px;
}
.set-margin {
  margin: 30px;
}
.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}
.scroll-touch {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.iframeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}