.fullscreenbg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: -50;
}

.fullscreenbg__video {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 350%;
  overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreenbg__video {
    width: 100%;
    height: auto !important;
    top: 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .fullscreen-bg__video {
    position: fixed;

    height: 100vh;
    overflow: hidden;
  }
}
